.home {
  height: 100vh;
  position: relative;
  z-index: -1;
  width: 100%;
  text-align: center;
  .greeting-text {
    padding: 1rem;
  }
  .intro-text {
    position: absolute;
    top: 15%;
    right: 20%
  }
  
  img {
    margin: 10px 0;
    max-width: 100%;
    width: 400px;
    height: 300px;

    &:hover {
      @include bounceImg;
    }
  }
  .social-icons-container {
    position: absolute;
    top: 37%;
    right: 5%;
    @include flexItems(column, space-between, center);
    height: 150px;
    .social-icon {
      cursor: pointer;
      &:hover {
        color: $yellow;
        transform: rotate(360deg);
        @include transition-ease;      
      }
    }
  }
}
