.project-section {
  width: 100%;
  text-align: center;
  .heading-container {
    position: relative;
    padding: 2rem 0;
    margin-bottom: 10px;
  };
  
  .transparent-text {
    margin: 0;
    opacity: 0.2;
    letter-spacing: 5px;
  };
  
  .project-text {
    position: absolute;
    top: 55%;
    right: 45%;
    word-spacing: 10;
    font-size: 1.45rem;
  };
};
