.project-section {
  width: 100%;
  text-align: center;
  .heading-container {
    position: relative;
    padding: 2rem 0;
    margin-bottom: 10px;
  };
  
  .transparent-text {
    opacity: 0.2;
    letter-spacing: 5px;
  };
  
  .normal-text {
    position: absolute;
    top: 55%;
    right: 45%;
    word-spacing: 10;
    font-size: 1.75rem;
  };
  article {
    height: 50%;
    line-height: 50%;
    margin-top: auto;
    
  }
};
