.about-section {
  height: 80vh;
  background-color: $black;
}

.achievement,
.article-section,
.contact-section {
  height: 100vh;
}

.about-section,
.project-section,
.achievement,
.article-section,
.contact-section {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  .heading-container {
    position: relative;
    padding: 2rem 0;
    margin-bottom: 10px;
    .transparent-text {
      opacity: 0.2;
      letter-spacing: 3px;
      font-size: 1.5rem;
    }
    .normal-text {
      position: absolute;
      top: 47%;
      right: 15%;
      width: 70%;
      word-spacing: 10;
      font-size: 1.25rem;
    }
  }
  article {
    line-height: 50%;
    margin-top: auto;
  }
}

.typewriting {
  @include typewriter;
}

.wave {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
  @include waving-hand;
}


#about {
  margin-top: auto;
}


#achievement {
  margin-bottom: 0;
  position: relative;
  background-color: #212121;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  margin-bottom: 0;
  ul {
    width: 80%;
  }
}

#contacts {
  background-color: white;
  color: $black;
  position: relative;
  margin-left: calc(50% - 50vw);
  margin-bottom: 0;
  width: 100vw;
  svg.MuiSvgIcon-root {
    padding-top: 0.5rem;
  }
}

footer {
  @include flexItems(column, space-around, center);
}

div.MuiDialog-paperScrollPaper {
  width: 250px;
  div.MuiDialogTitle-root {
    .MuiTypography-root.MuiTypography-h6 {
      text-align: center;
    }
  }
}

// medium screens and above

@media screen and (min-width: 768px) {
  .about-section {
    height: 50vh;
  }
  .achievement,
  .article-section,
  .contact-section {
    height: 70vh;
  }
  .about-section,
  .project-section,
  .achievement,
  .article-section,
  .contact-section {
    .heading-container {
      position: relative;
      padding: 2rem 0;
      margin-bottom: 10px;
      .transparent-text {
        letter-spacing: 5px;
        font-size: 3rem;
      }
      .normal-text {
        font-size: 1.75rem;
      }
    }
    article {
      line-height: 50%;
      margin-top: auto;
    }
  }
  .about-section {
    article {
      height: 100vh;
    }
  }

  .floating-img {
    @include floating;
  }

  #achievement {
    ul {
      width: 70%;
    }
  }

  .article-section {
    margin: auto 0;
    position: relative;
    .cards__box {
      @include flexItems(row, space-around, center);
      position: absolute;
      top: 30%;
    }
  }

  footer {
    @include flexItems(row, space-between, center);
  }
  div.MuiDialog-paperScrollPaper {
    width: 400px;
  }
}

@media only screen and (min-width: 1140px) {
  .about-section,
  .achievement,
  .article-section {
    height: 100vh;
  }

  .contact-section {
    height: 70vh;
  }
}
