$black: #0F0F0F;
$brown: #212121;
$yellow: #FFF124;
$white: #FFFFFF;
$green: #008000;

@mixin flexItems($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin transition-ease {
  transition: all 0.5s ease-in-out;
}

