html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* The typing effect */
@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from {
    border-color: transparent;
  }
  to {
    border-color: #1b5fc7;
  }
}
@keyframes blink-caret {
  from {
    border-color: transparent;
  }
  to {
    border-color: #1b5fc7;
  }
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 0) rotate(45deg);
            transform: translate(0, 0) rotate(45deg);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
  50% {
    -webkit-transform: translate(0, 15px);
            transform: translate(0, 15px);
  }
  100% {
    -webkit-transform: translate(0, 0px);
            transform: translate(0, 0px);
  }
}

.blinking {
  -webkit-animation: blink 1s linear infinite;
          animation: blink 1s linear infinite;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

header {
  width: 100%;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .menu .menu-btn {
    position: absolute;
    z-index: 2;
    right: 1.5rem;
    top: 1.6rem;
    height: 20px;
    width: 28px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu .menu-btn__burger {
    position: absolute;
    right: 0;
    top: 0.5rem;
    width: 28px;
    height: 3px;
    background: #ffffff;
  }
  .menu .menu-btn__burger::before {
    content: '';
    position: absolute;
    top: -8px;
    width: 28px;
    height: 3px;
    background: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu .menu-btn__burger::after {
    content: '';
    position: absolute;
    top: 8px;
    width: 20px;
    height: 3px;
    background: #ffffff;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu .menu-btn__burger.open {
    -webkit-transform: rotate(720deg);
            transform: rotate(720deg);
    background: transparent;
  }
  .menu .menu-btn__burger.open::before {
    -webkit-transform: rotate(35deg) translate(8px, 6px);
            transform: rotate(35deg) translate(8px, 6px);
  }
  .menu .menu-btn__burger.open::after {
    width: 28px;
    -webkit-transform: rotate(-35deg) translate(5px, -5px);
            transform: rotate(-35deg) translate(5px, -5px);
  }
  .menu .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 1;
    visibility: hidden;
  }
  .menu .navbar.open {
    visibility: visible;
  }
  .menu .navbar .menu-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    height: 100vh;
    background-color: #0a0b0d;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .navbar .menu-nav_item {
    width: 40%;
  }
  .menu .navbar .menu-nav_link {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    padding: 0.5rem;
  }
  .menu .navbar .menu-nav_link:hover {
    color: #dcab07;
  }
}

@media screen and (min-width: 993px) {
  .menu .menu-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .menu-nav_link {
    text-decoration: none;
    cursor: pointer;
    color: #ffffff;
    padding: 0.5rem;
  }
  .menu .menu-nav_link:hover {
    color: #dcab07;
  }
}

.landing-section {
  height: 80vh;
  position: relative;
  width: 100%;
  text-align: justify;
}

.landing-section .greeting-text {
  padding: 0.875rem 1rem;
  margin-top: 5rem;
}

.landing-section .greeting-text h5 {
  font-size: 1rem;
}

.landing-section .intro-text {
  padding: 0.875rem 1rem;
}

.landing-section .intro-text p {
  line-height: 1.75;
}

.social-icons-container {
  visibility: hidden;
}

footer .social-icons-container {
  visibility: visible;
  color: #ffffff;
}

footer .social-icons-container .social-icon {
  cursor: pointer;
  color: #ffffff;
}

footer .social-icons-container .social-icon:hover {
  color: #dcab07;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .landing-section {
    height: 50vh;
    text-align: left;
  }
  .landing-section .greeting-text {
    margin-top: 90px;
    padding: 1rem;
  }
  .landing-section .greeting-text h5 {
    font-size: 1.5rem;
  }
  .landing-section .intro-text {
    width: 50%;
  }
  .landing-section .social-icons-container {
    visibility: visible;
    position: absolute;
    top: 15%;
    right: 10.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 150px;
  }
  .landing-section .social-icons-container .social-icon {
    cursor: pointer;
    color: #ffffff;
  }
  .landing-section .social-icons-container .social-icon:hover {
    color: #dcab07;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
}

@media screen and (min-width: 993px) and (max-width: 1024px) {
  .landing-section {
    height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing-section .greeting-text {
    padding: 1rem;
  }
  .landing-section .greeting-text h5 {
    font-size: 1.5rem;
  }
  .landing-section .social-icons-container {
    top: 40%;
  }
}

@media screen and (min-width: 1024px) {
  .landing-section {
    height: 73vh;
  }
}

.about-section {
  height: 80vh;
  background-color: #0a0b0d;
}

.achievement,
.article-section,
.contact-section {
  height: 100vh;
}

.about-section,
.project-section,
.achievement,
.article-section,
.contact-section {
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.about-section .heading-container,
.project-section .heading-container,
.achievement .heading-container,
.article-section .heading-container,
.contact-section .heading-container {
  position: relative;
  padding: 2rem 0;
  margin-bottom: 10px;
}

.about-section .heading-container .transparent-text,
.project-section .heading-container .transparent-text,
.achievement .heading-container .transparent-text,
.article-section .heading-container .transparent-text,
.contact-section .heading-container .transparent-text {
  opacity: 0.2;
  letter-spacing: 3px;
  font-size: 1.5rem;
}

.about-section .heading-container .normal-text,
.project-section .heading-container .normal-text,
.achievement .heading-container .normal-text,
.article-section .heading-container .normal-text,
.contact-section .heading-container .normal-text {
  position: absolute;
  top: 47%;
  right: 15%;
  width: 70%;
  word-spacing: 10;
  font-size: 1.25rem;
}

.about-section article,
.project-section article,
.achievement article,
.article-section article,
.contact-section article {
  line-height: 50%;
  margin-top: auto;
}

.typewriting {
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #1b5fc7;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em;
  /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite alternate;
          animation: typing 3.5s steps(40, end) infinite, blink-caret 0.75s step-end infinite alternate;
}

.wave {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: 0.5rem;
  -webkit-animation: wave 1s ease-in infinite;
          animation: wave 1s ease-in infinite;
}

#about {
  margin-top: auto;
}

#achievement {
  margin-bottom: 0;
  position: relative;
  background-color: #212121;
  margin-left: calc(50% - 50vw);
  width: 100vw;
  margin-bottom: 0;
}

#achievement ul {
  width: 80%;
}

#contacts {
  background-color: white;
  color: #0a0b0d;
  position: relative;
  margin-left: calc(50% - 50vw);
  margin-bottom: 0;
  width: 100vw;
}

#contacts svg.MuiSvgIcon-root {
  padding-top: 0.5rem;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.MuiDialog-paperScrollPaper {
  width: 250px;
}

div.MuiDialog-paperScrollPaper div.MuiDialogTitle-root .MuiTypography-root.MuiTypography-h6 {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-section {
    height: 50vh;
  }
  .achievement,
  .article-section,
  .contact-section {
    height: 70vh;
  }
  .about-section .heading-container,
  .project-section .heading-container,
  .achievement .heading-container,
  .article-section .heading-container,
  .contact-section .heading-container {
    position: relative;
    padding: 2rem 0;
    margin-bottom: 10px;
  }
  .about-section .heading-container .transparent-text,
  .project-section .heading-container .transparent-text,
  .achievement .heading-container .transparent-text,
  .article-section .heading-container .transparent-text,
  .contact-section .heading-container .transparent-text {
    letter-spacing: 5px;
    font-size: 3rem;
  }
  .about-section .heading-container .normal-text,
  .project-section .heading-container .normal-text,
  .achievement .heading-container .normal-text,
  .article-section .heading-container .normal-text,
  .contact-section .heading-container .normal-text {
    font-size: 1.75rem;
  }
  .about-section article,
  .project-section article,
  .achievement article,
  .article-section article,
  .contact-section article {
    line-height: 50%;
    margin-top: auto;
  }
  .about-section article {
    height: 100vh;
  }
  .floating-img {
    -webkit-animation-name: floating;
            animation-name: floating;
    -webkit-animation-duration: 3s;
            animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    margin-top: 5px;
  }
  #achievement ul {
    width: 70%;
  }
  .article-section {
    margin: auto 0;
    position: relative;
  }
  .article-section .cards__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    top: 30%;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div.MuiDialog-paperScrollPaper {
    width: 400px;
  }
}

@media only screen and (min-width: 1140px) {
  .about-section,
  .achievement,
  .article-section {
    height: 100vh;
  }
  .contact-section {
    height: 70vh;
  }
}

body {
  color: #ffffff;
  background-color: #0a0b0d;
}
/*# sourceMappingURL=App.css.map */