html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  width: 100%;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div {
  width: 50%;
}

.menu .menu-btn {
  position: absolute;
  z-index: 2;
  right: 1.5rem;
  top: 1.6rem;
  height: 20px;
  width: 28px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu .menu-btn__burger {
  position: absolute;
  right: 0;
  top: 0.5rem;
  width: 28px;
  height: 3px;
  background: #FFFFFF;
}

.menu .menu-btn__burger::before {
  content: '';
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #FFFFFF;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu .menu-btn__burger::after {
  content: '';
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #FFFFFF;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.menu .menu-btn__burger.open {
  -webkit-transform: rotate(720deg);
          transform: rotate(720deg);
  background: transparent;
}

.menu .menu-btn__burger.open::before {
  -webkit-transform: rotate(35deg) translate(8px, 6px);
          transform: rotate(35deg) translate(8px, 6px);
}

.menu .menu-btn__burger.open::after {
  width: 28px;
  -webkit-transform: rotate(-35deg) translate(5px, -5px);
          transform: rotate(-35deg) translate(5px, -5px);
}

.menu .navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  visibility: hidden;
}

.menu .navbar.open {
  visibility: visible;
}

.menu .navbar .menu-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  height: 100vh;
  background-color: #0F0F0F;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .navbar .menu-nav_item {
  width: 40%;
}

.menu .navbar .menu-nav_link {
  text-decoration: none;
  cursor: pointer;
  color: #FFFFFF;
  padding: 0.5rem;
}

.menu .navbar .menu-nav_link:hover {
  color: #FFF124;
}

.landing-section {
  height: 100vh;
  position: relative;
  z-index: -1;
  width: 100%;
  text-align: center;
}

.landing-section .greeting-text {
  padding: 1rem;
}

.landing-section .intro-text {
  position: absolute;
  top: 15%;
  right: 20%;
}

.landing-section img {
  margin: 10px 0;
  max-width: 100%;
  width: 400px;
  height: 300px;
}

.landing-section img:hover {
  -webkit-animation: bounce 0.5s alternate infinite;
          animation: bounce 0.5s alternate infinite;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  to {
    -webkit-transform: translate3d(0, 50px, 0);
            transform: translate3d(0, 50px, 0);
  }
}

.landing-section .social-icons-container {
  position: absolute;
  top: 37%;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
}

.landing-section .social-icons-container .social-icon {
  cursor: pointer;
}

.landing-section .social-icons-container .social-icon:hover {
  color: #FFF124;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.project-section {
  width: 100%;
}

.project-section .headingContainer {
  position: relative;
  padding: 2rem;
  margin-bottom: 10px;
}

.project-section .transparentText {
  opacity: 0.2;
  letter-spacing: 5px;
}

.project-section .projectText {
  position: absolute;
  top: 55%;
  right: 45%;
  word-spacing: 10;
  font-size: 1.45rem;
}

body {
  color: #FFFFFF;
  background-color: #0F0F0F;
}
/*# sourceMappingURL=App.css.map */